input[type=text], select {
  width: 50%;
  padding: 6px 10px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  text-transform: capitalize;
}
.label {
  color: white;
  padding: 8px;
}

input[type=number], select {
  width: 50%;
  padding: 6px 10px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  text-transform: capitalize;
}

input[type=button] {
  width: 45%;
  background-color: #4CAF50;
  color: white;
  padding: 10px 10px;
  margin: 4px 2px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-transform: capitalize;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 10px 10px;
  margin: 4px 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-transform: capitalize;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 4px;
  background-color: #976446;
  padding: 10px;
}

.card {
  box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 8px;
box-shadow: 2px 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.card:hover {
  box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
  background-color: rgb(10, 24, 10);
  color: white;
}

.form {
  float: right;
background: rgba(19, 35, 47, 0.9);
padding: 40px;
max-width: 600px;
margin: 40px auto;
border-radius: 4px;
box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  margin-right: 100px; /*what ever you want*/
}